  .about {
}

.about__content {
}

.about__hr {
  border: 0;
  border-top: 5px solid #000000;
  margin: 80px auto 0 auto;
  width: desktop-width((10 11) of 12);
}

.about__tagline {
  font: bold 80px/1em $font-face-sans;
  margin: 80px 0 0 desktop-width((1 1) of 12);
  width: desktop-width(8 of 12);

  @media (max-width: 960px) {
    font: bold 40px/1.5em $font-face-sans;
    margin: 80px auto 0 auto;
    width: desktop-width(10 of 12);
  }
}

.about__text {
  font: 30px/1.5em $font-face-serif;
  margin: 40px 0 0 desktop-width((1 1) of 12);
  width: desktop-width(7.5 of 12);

  a {
    border-bottom: 2px dotted $color-highlight;
    color: $color-highlight;
    text-decoration: none;
  }

  @media (max-width: 960px) {
    font: 30px/1.5em $font-face-serif;
    margin: 40px auto 0 auto;
    width: desktop-width(10 of 12);
  }
}
